:root {
    --primary-color: #ECDFCC;
    /* Green */
    --secondary-color: #697565;
    /* Light gray */
    --text-color: #3C3D37;
    /* Dark gray */
    --dark-color: #1E201E;
    --font-family: "Poppins", sans-serif;
    --span-color: hsl(246, 61%, 25%);
    --white-color: rgb(255, 255, 255);
}



body {

    display: grid;

    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "aside aside aside"
        "footer footer footer";
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;

}

nav h3 {
    margin: 15px;
    padding: 0px;

}

nav h3 a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 600;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    margin: 15px;
    flex: 1;
    justify-content: center;
}

nav ul li {
    margin-left: 15px;

}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 500;
    position: relative;
    margin-left: 10px;

}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dark-color);
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

.contact-btn {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.2rem;
    padding: 8px 12px;
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    margin: 15px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

header {
    grid-area: header;
    margin: 10px;
    padding: 10px 2px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 10rem;



}

header div.image-container {
    border: 1px solid var(--dark-color);
    padding: 5px;
    border-radius: 50%;
}

header img {
    width: 9cm;
    height: 9cm;
    border-radius: 50%;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(216, 9, 9, 0.1);
}

header h1 {
    font-size: 1.7rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1;
}

header h2 {
    font-size: 4.5rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 600;
    margin: 6px 0;
    line-height: 1;
}

header h2 .spec {
    color: var(--span-color);
    font-weight: 600;
}

header p {
    margin: 5px 0;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.2rem;
}

header div.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 1.1cm;
    border: none;
    padding: 10px;

}

header button.btn-2 {
    background-color: var(--dark-color);
    color: var(--white-color);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
    width: 150px;
}

header button.btn-2 {
    background-color: var(--dark-color);
    color: var(--white-color);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
    margin-right: 20px;
    width: 150px;
}

.btn-2:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}


.btn-2:hover {
    transform: scale(1.05);
    background-color: #2a2a2a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

main {
    grid-area: main;
    margin: 10px;
    padding: 10px 2px;
}


main section h1 {
    font-size: 3rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;

}

main .project-container {

    display: flex;
    justify-content: center;


}

main .project-container div {
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    background-color: #1a1a1a;
    outline: none;
    box-shadow: 0 4px 18px rgba(216, 9, 9, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

main .project-container div:hover {
    transform: translateY(-5px);
}

main .project-container div .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 32, 30, 0.9);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    border-radius: 10px;
}

main .project-container div:hover .project-overlay {
    opacity: 1;
}

main .project-container div .project-overlay h3 {
    font-size: 1.5rem;
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--white-color);
}

main .project-container div .project-overlay p {
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

main section div img {
    width: 12cm;
    border-radius: 10px;
}

main section div p {
    font-size: 1.2rem;
    color: var(--white-color);
    font-family: var(--font-family);
    font-weight: 500;
    margin-top: 10px;
}

main section.skills {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

main section.skills h1 {
    font-size: 3rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 10px;
}

main section.skills .skill-container {
    display: flex;
    justify-content: space-evenly;

}

main section.skills .skill-div {
    flex: 1;
    max-width: 300px;
    margin: 5px;

}

main section.skills .skill-div h2 {
    font-size: 1.5rem;
    color: var(--span-color);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

main section.skills .skill-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main section.skills .skill-div ul li {
    color: var(--dark-color);
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: var(--font-family);
    font-weight: 600;
    text-align: center;
}

section.story {
    margin: 20px;
    padding: 10px 2px;
}

section.story h1 {
    font-size: 3rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 10px;
}

 h1 span {
    color: var(--span-color);
    font-size: 5rem;
}

section.story p {
    font-size: 1.2rem;
    color: var(--dark-color);
    font-family: var(--font-family);
    font-weight: 500;
    margin-top: 10px;
    white-space: normal;
    text-align: center;

}

section.story p a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}